.sidebarItem {
  display: flex;
  align-items: center;
  position: relative;

  svg {
    fill: var(--inverted-primary-color);
    position: absolute;
  }

  span {
    opacity: 1;
    transition: opacity 0.3s;
    margin-left: 30px;
    height: 24px;
  }

  &.collapsed {
    span {
      opacity: 0;
      transition: opacity 0.3s;
      width: 0;
      height: 24px;
    }
  }
}
