.profilecard {
  padding: 20px;
  border: 1px solid var(--inverted-bg-color);
}

.profileData {
  display: flex;
  flex-direction: column;

  >:not(:first-child) {
    margin-top: 10px;
  }
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
